aside {
    width: 16.875rem;
    height: 100vh;
    background-color: #F8FFF4;
    z-index: 0;
    position: relative;
}

.todo-item {
    display: flex;
    flex-direction: column;
    gap: 0.31rem;
    padding: 0.8125rem 1.75rem;
}

.todo-item-description {
    display: flex;
    gap: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.todo-item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    color: #828282;
}

.todo-item:not(.active-item) {
    border-bottom: 1px solid #3B8F443D;
}

.todo-item:not(.active-item):hover {
    cursor: pointer;
    background-color: #3B8F443D;
}