/* COMMON STYLES */

body {
    font-family: 'Roboto', sans-serif;
}

.main-text {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.17rem;
}

.secondary-text {
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 0.95rem;
}

.container {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.inactive-btn {
    opacity: 0.5;
}

.active-item {
    background-color: #DCFFD3;
}

.aside-main-flex {
    display: flex;
    gap: 1.25rem;
}

